.sc_property_image {
    position: relative;
    /* width: 50%; */
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    background-color: #efefef;
  }

  .sc_property_image:hover .image {
    opacity: 0.3;
  }
  
  .sc_property_image:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

.sc_services_style_services-1 .sc_services_item .sc_services_item_content {
    padding-top: 0.5em;
}

.sml-icon {
    width: 50px;
}

.sc_services_style_services-1 .sc_services_item .sc_services_item_title {
    margin: 1em 0 0;
    margin-top: 1em;
    font-size: 1em;
    height: auto;
    text-transform: capitalize;
}

.sc_services_style_services-1 .sc_services_item .sc_services_item_title a {
    text-transform: capitalize;
    color: black;
}

 .sc_services_item > a {
    margin-top: 1em;
    margin-bottom: 0;
    padding-top: 0;
}

@media(max-width: 992px) {
    .column-1_4.featurers-lists-item {
        width: 50% !important;
    }

    .sc_services_style_services-1 .sc_services_item .sc_services_item_content {
        padding-top: 1.1em;
    }

    .sc_services_style_services-1 .sc_services_item {
        padding-top: 1em;
    }

    .featurers-list-item.sc_services_item {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
    }
}